@mixin afterShadow {
  position: absolute;
  transition: transform 0.2s ease-in-out;
  display: block;
  content: '';
  height: 5px;
  z-index: 1;
  pointer-events: none;
  right: 9rem;
  width: 50%;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 2px 0 rgb(0 0 0 / 7%), inset 0 2px 1px -1px #dfe2e6,
    inset 0 1px 2px 0 rgb(223 226 230 / 14%), inset 0 1px 3px 0 rgb(48 56 64 / 12%);
  background: #fff;
}

.lessonItem {
  margin-bottom: 24px;
  width: 90%;
  box-shadow: 0 3px 3px -2px rgb(39 44 51 / 10%), 0 3px 4px 0 rgb(39 44 51 / 4%),
    0 1px 8px 0 rgb(39 44 51 / 2%);
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #dfe2e6;
  border-radius: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;

  svg {
    color: rgba(39, 44, 51, 0.5);
    font-size: 1rem;
  }
  &__name {
    text-decoration: underline;
    &:hover {
      opacity: 0.8;
    }
  }
  &__time {
    display: flex;
    flex-direction: column;
    justify-content: center;

    small {
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        margin-right: 0.2rem;
      }
    }
  }
  &__teacherContainer {
    .teacher__title {
      color: #303840;
      font-size: 1rem;
      font-weight: bold;
    }
    .teacher__content {
      display: flex;
      align-items: center;
      a {
        color: rgba(137, 142, 245);
        font-size: 1rem;
      }
      a:hover {
        color: black;
        opacity: 0.8;
      }
    }
  }
  &__date {
    font-weight: 500;
  }
  &__bottom {
    display: flex;
    align-items: center;
    svg {
      margin-right: 0.3rem;
      font-size: 1.2rem;
    }
    color: rgba(39, 44, 51, 0.5);
    font-size: 1rem;
  }
  &__content {
    display: flex;
    padding: 0.5rem;
    justify-content: space-around;
    .lesson__elem {
      flex: 0.3;
    }
    .timeContainer {
      display: flex;
      align-items: center;
    }
  }
}
