@import '../../../styles/variables.scss';
@import '../../../styles/responsive.scss';

.demoBanner {
  display: flex;
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    rgba(85, 88, 218, 1) 0%,
    rgba(95, 209, 249, 1) 100.2%
  );
  justify-content: space-around;
  @include MQ(M) {
    flex-direction: column;
  }
  @include MQ(S) {
    flex-direction: column;
  }
  &__left {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    justify-content: center;
    font-weight: 600;
    @include MQ(M) {
      margin-left: 0;
      text-align: center;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    @include MQ(S) {
      margin-left: 0;
      text-align: center;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    h2 {
      color: #fff;
      font-size: 30px;
      @include MQ(M) {
        font-size: 2rem;
      }
      @include MQ(S) {
        font-size: 1.5rem;
      }
    }
    p {
      font-family: Nunito;
      @include MQ(M) {
        font-size: 1rem;
      }
      @include MQ(S) {
        font-size: 1rem;
      }
    }
    color: #fff;
  }

  &__right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-height: 17rem;
      max-width: 100%;
      margin-top: 80px;
      margin-bottom: 80px;
      margin-right: 80px;
      @include MQ(M) {
        margin: 0;
        padding-bottom: 3rem;
      }
      @include MQ(S) {
        margin: 0;
        padding-bottom: 3rem;
      }
    }
  }
  &__tableImg {
    position: absolute;
    right: -37px;
    bottom: -17px;
    max-width: 49%;
    max-height: 50%;
    @include MQ(M) {
      right: 8rem;
      bottom: -17px;
      max-width: 49%;
      max-height: 50%;
    }
    @include MQ(S) {
      right: 1rem;
      bottom: -17px;
      max-width: 49%;
      max-height: 50%;
    }
  }
}
