.popup {
  position: fixed;
  background: rgba(133, 134, 138, 0.3);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10001;
  &__box {
    position: relative;
    max-width: 500px;
    margin-left: 40vw;
    margin-top: 13vw;
    height: auto;
    max-height: 70vh;
    background: #fff;
    border-radius: 4px;
    padding: 15px;
    overflow: auto;
  }
  &__icon {
    content: 'x';
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: #ed0b4c;
    border-color: #ed0b4c;
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.15), 0 1px 1px rgba(39, 44, 51, 0.075);
    vertical-align: middle;
    &:hover {
      color: black;
      opacity: 0.9;
    }
  }
  label {
    text-align: left;
    font-size: 14px;
  }
}
