input[type='text'],
input[type='email'] {
  height: 30px;
}

.email {
  &__container {
    text-align: center;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin-top: 20px;
    &:hover {
      background: #fff;
      color: #5567ff;
    }
  }
  &__title {
    text-align: center;
    max-width: 100%;
    text-transform: uppercase;
    font-size: 0.9375rem;
    color: #303840;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: Exo\2, Helvetica Neue, Arial, sans-serif;
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #303840;
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-family: Exo\2, Helvetica Neue, Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
  }
  &__subject,&__to {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 0.3rem;
    padding: 10px;
  }
  &__message {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0.3rem;
    padding: 10px;
  }
  &__btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    color: #fff;
    &--send {
      width: 80px;
      height: 30px;
      margin: 10px;
      outline: none;
      border-color: #bfbfbf;
      line-height: 23px;
      text-align: center;
      vertical-align: middle;
      border: 1px solid;
      border-radius: 4px;
      background-color: #5567ff;
      border-color: #5567ff;
      box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.15), 0 1px 1px rgba(39, 44, 51, 0.075);
      font-weight: 600;
      font-size: 0.8125rem;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
    &--cancel {
      width: 80px;
      height: 30px;
      margin: 10px;
      outline: none;
      border-color: #bfbfbf;
      line-height: 23px;
      text-align: center;
      vertical-align: middle;
      border: 1px solid;
      border-radius: 4px;
      background-color: #ed0b4c;
      border-color: #ed0b4c;
      box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.15), 0 1px 1px rgba(39, 44, 51, 0.075);
      font-weight: 600;
      font-size: 0.8125rem;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
}
