.logo {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin: 50px auto 10px;
    background-color: #1890ff;
    display: flex;
    justify-content: center;
    img {
        width: 80%;
    }
    &__title {
      text-align: center;
  }
}

