$color_title: rgba(39, 44, 51, 0.5);
$fontSize_h6: 0.8125rem;
$fontSize_h2: 1.999rem;
$cardBody_border: 1px solid #dfe2e6;

.overview {
  &__body {
    padding: 1rem;
    padding-left: 2rem;
    h6 {
      font-size: $fontSize_h6;
      color: $color_title;
    }
    p {
      font-size: $fontSize_h2;
      color: #303840;
      font-weight: 600;
      margin: 0;
    }
    strong {
      font-weight: 500;
    }
  }
  &__card {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  &__left {
    max-width: 50%;
    flex: 0 0 50%;
  }
  &__right {
    max-width: 50%;
    flex: 0 0 50%;
    border-left: $cardBody_border;
  }
  &__container {
    box-shadow: 0 3px 3px -2px rgb(39 44 51 / 10%), 0 3px 4px 0 rgb(39 44 51 / 4%),
      0 1px 8px 0 rgb(39 44 51 / 2%);
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #dfe2e6;
    border-radius: 0.5rem;
    .card--border {
      border-top: $cardBody_border;
    }
  }
}

.page__separator {
    margin-top: 2rem;
    position: relative;
    margin-bottom: 1rem;
    .separator__text  {
    display: inline-flex;
    max-width: 90%;
    font-size: .9375rem;
    color: #303840;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: .25rem;
    background-color: #f5f7fa;
    }
    &:before {
    content: "";
    height: 1px;
    width: 100%;
    top: 50%;
    position: absolute;
    z-index: -1;
    background-color: rgba(0,0,0,.1);
    left: 0;
    }
  }
