@import '../../../styles/responsive.scss';
@import '../../../styles/variables.scss';

.lessonForm {
  h4 {
    font-size: 1.3rem;
    font-weight: bolder;
    margin-bottom: 3px;
  }
  p {
    &:nth-child(2) {
      font-size: 1.1rem;
      padding-bottom: 0.7rem;
      border-bottom: 1px solid #ccc;
    }
    &:nth-child(3) {
      font-size: 0.9rem;
      margin-bottom: 0rem;
    }
  }
  &__date {
    margin: 0rem 1rem 1rem 0rem;
    border-radius: 3px;
    width: 35%;
    height: 2.5rem;
    font-size: 1.5rem;
    background-color: #fffde3;
    @include MQ(M) {
      width: 50%;
    }
    @include MQ(S) {
      width: 90%;
    }
  }
  &__time {
    margin: 0rem 1rem 1rem 0rem;
    width: 20%;
    &:not(.ant-select-customize-input) {
      .ant-select-selector {
        background: #fffde3;
      }
    }
    @include MQ(M) {
      width: 50%;
    }
    @include MQ(S) {
      width: 90%;
    }
  }
  &__timeContainer {
    margin-left: 0;
    display: flex;
    justify-content: flex-start;
    @include MQ(M) {
      flex-direction: column;
    }
    @include MQ(S) {
      flex-direction: column;
    }
  }
  &__teacher {
    width: 100%;
    &:not(.ant-select-customize-input) {
      .ant-select-selector {
        background: #fffde3;
      }
    }
  }
  .ant-modal-content {
    border-radius: 8px;
    left: 95px;
  }
  .ant-modal-header {
    border-radius: 8px;
  }
  .ant-btn {
    color: #ed0b4c;
    border-color: #ed0b4c;
    background: white;
  }
  .ant-btn:hover {
    color: white;
    border-color: #ed0b4c;
    background: #ed0b4c;
  }
  .ant-btn.ant-btn-primary {
    width: 78px;
    color: #ffffff;
    background: #5567ff;
    border-color: #5567ff;
  }

  &__teacherClassroom {
    display: flex;
    border-top: 1px solid #ccc;
    margin-top: 1rem;
    @include MQ(M) {
      flex-direction: column;
    }
    @include MQ(S) {
      flex-direction: column;
    }
  }
  &__teacherContainer, &__classroomContainer{
    width: 40%;
    margin: 1rem 1rem 1rem 0rem;
    @include MQ(M) {
      width: 50%;
    }
    @include MQ(S) {
      width: 90%;
    }
    > p {
      margin: 0;
    }
  }
}


