.student__list {
  .list {
    &__header {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      min-width: 512px;
      .searchBar {
        flex: 0.7;
        input {
          width: 100%;
        }
      }
      .ant-select {
        flex: 0.2;
        border-color: #868e96;
        .ant-select-selection-item {
          font-family: 'Roboto', sans-serif;
        }

        .ant-select-selector {
          border-radius: 0.25rem;
        }
      }
    }
    &__refreshBtn {
      position: relative;
      display: inline-block;
      border: 1px solid transparent;
      line-height: 23px;
      text-align: center;
      vertical-align: middle;
      font-size: 12px;
      padding: 0.25rem 0.7rem;
      background-color: #868e96;
      color: #fff;
      outline:none;
      border-color: #868e96;
      border-radius: 0.25rem;
      box-shadow: inset 0 1px 0 hsl(0deg 0% 100% / 15%), 0 1px 1px rgb(39 44 51 / 8%);
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      &:hover {
        background-color: #727b84;
        border-color: #6c757d;
      }
    }
  }
}
