$colorGrey: hsla(0, 0%, 100%, 0.5);

.profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Helvetica Neue, sans-serif;
  @media only screen and(max-width: 768px) {
    display: block;
    text-align: center;
  }
  img {
    max-width: 140px;
    max-height: 140px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 15px;
  }
  &__basic {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    strong {
      color: $colorGrey;
      font-size: 0.8125rem;
    }
  }
  &__name {
    display: block;
    font-size: 1.999rem;
    font-weight: 600;
    h2 {
      color: #fff;
    }
  }
  &__age {
    color: $colorGrey;
    font-weight: 500;
    margin-top: 1rem;
  }
  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: $colorGrey;
    font-weight: 500;
    &__bot {
      margin-top: 1rem;
    }
  }
  &__icon {
    color: $colorGrey;

    width: 18px;
    height: 18px;
  }
  &__phone {
    display: flex;
    flex-direction: row;
    @media only screen and(max-width: 768px) {
      display: block;
    }
    p {
      margin-left: 5px;
    }
  }
  &__email {
    display: flex;
    flex-direction: row;
    @media only screen and(max-width: 768px) {
      display: block;
    }
    p {
      margin-left: 5px;
    }
  }
}
