.teacherPage__container {
  padding-left: 2rem;
  padding-right: 2rem;
}
.teacher__list {
  table {
    font-size: 13px;

    .ant-table-thead > tr > th {
      padding: 0.5rem 0.75rem;
    }

    .darkRow {
      background-color: #f5f5f5;
    }

    thead {
      tr {
        .ant-table-cell {
          font-family: 'Roboto', sans-serif;
          font-size: 0.8125rem;
          letter-spacing: 2px;
        }
      }
    }
    tr {
      td {
        padding: 0 16px;
      }
    }
    tbody {
      td {
        padding: 0.75rem;
      }
    }
  }

  .teacher__table {
    border: 1px solid #dfe2e6;
    border-radius: 0.5rem;
    box-shadow: 0 3px 3px -2px rgb(39 44 51 / 10%), 0 3px 4px 0 rgb(39 44 51 / 4%),
      0 1px 8px 0 rgb(39 44 51 / 2%);
    background-color: #fff;

    .list__header {
      padding: 0.5rem 0.75rem;
      border-bottom: 2px solid #e9edf2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .searchBar {
        flex: 0.7;

        input {
          width: 100%;
          position: relative;
        }
      }

      .countBar__refreshBtn {
        position: relative;
        margin-left: 5px;
        border: 1px solid transparent;
        line-height: 23px;
        text-align: center;
        vertical-align: middle;
        font-size: 12px;
        padding: 0.25rem 0.7rem;
        background-color: #868e96;
        color: #fff;
        border-color: #868e96;
        border-radius: 0.25rem;
        box-shadow: inset 0 1px 0 hsl(0deg 0% 100% / 15%), 0 1px 1px rgb(39 44 51 / 8%);
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &:hover {
          background-color: #727b84;
          border-color: #6c757d;
        }
      }
    }
    .action {
      position: relative;
      display: flex;
      flex-direction: row;
      &__link {
        &:hover::after {
          position: absolute;
          content: 'view profile';
          background-color: black;
          color: white;
          border-radius: 5px;
          font-size: 10px;
          top: -20px;
          left: -20px;
          padding: 5px 2px;
        }
      }
      &__view-container {
        background-color: #5567ff;
        border-radius: 0.3rem;
        padding: 5px 12px;
        margin-right: 0.3rem;

        svg {
          color: #fff;
        }
      }
      &__viewIcon {
        cursor: pointer;
        color: grey;
      }
      &__delete-container {
        background-color: rgb(212, 78, 92);
        border-radius: 0.3rem;
        padding: 5px 12px;
  
        svg {
          color: #fff;
        }
      }
      &__deleteIcon {
        color: grey;
        cursor: pointer;
      }
  
    }
  }
}
