@mixin afterShadow {
  position: absolute;
  transition: transform 0.2s ease-in-out;
  display: block;
  content: '';
  height: 5px;
  z-index: -1;
  pointer-events: none;
  right: 71px;
  width: 63%;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 2px 0 rgb(0 0 0 / 7%), inset 0 2px 1px -1px #dfe2e6,
    inset 0 1px 2px 0 rgb(223 226 230 / 14%), inset 0 1px 3px 0 rgb(48 56 64 / 12%);
  background: #fff;
}

.classItem {
  &__container {
    margin-bottom: 24px;
    box-shadow: 0 3px 3px -2px rgb(39 44 51 / 10%), 0 3px 4px 0 rgb(39 44 51 / 4%),
      0 1px 8px 0 rgb(39 44 51 / 2%);
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #dfe2e6;
    border-radius: 0.5rem;
    .class__elem {
      flex: 0.3;
    }
  }
  &__content {
    padding: 0.5rem;
    display: flex;
  }
  &__class-info {
    margin-left: 3rem;
  }

  &__time {
    display: flex;
    align-items: center;
    svg {
      color: rgba(39, 44, 51, 0.5);
      margin-right: 0.25rem;
    }
    p {
      margin: 0;
      color: rgba(39, 44, 51, 0.5);
    }
  }
  &__teacherContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      margin-left: 0.5rem;
    }
  }
  &__title {
    color: #303840;
    font-size: 1rem;
    font-weight: bold;
  }
  &__teacher {
    display: flex;
  }
  &__teacherName {
    a {
      color: rgba(137, 142, 245);
      text-decoration: underline;
      font-size: 1rem;
    }
    a:hover {
      color: black;
      opacity: 0.8;
    }
  }

  &_name {
    color: rgba(137, 142, 245);
    font-size: 1rem;
    font-weight: bold;
    &:hover {
      color: black;
      opacity: 0.7;
    }
  }
  &__studentNum {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    svg {
      color: rgba(39, 44, 51, 0.5);
      margin-right: 0.3rem;
    }
  }
  &__count {
    font-size: 0.8125rem;
    font-weight: 400;
  }
}
