@import '../../styles/responsive.scss';
@import '../../styles/variables.scss';

.schoolPage {
  width:70%;
  margin:0 auto;
  text-align: center;
  display:flex;
  flex-direction:column;
  align-items: center;
  @include MQ(M){
    width:80%;
  }
  @include MQ(S){
    width:90%;
  }
  > h1{
    font-size:3rem;
    font-weight:600;
    padding:2rem 0 1rem;
    margin:0;
    @include MQ(M){
      font-size:2rem;
    }
    @include MQ(S){
      font-size:2rem;
    }
  }
  > span{
    font-size:1.5rem;
    font-weight: 600;
    color: #959595;
    @include MQ(M){
      font-size:1rem;
    }
    @include MQ(S){
      font-size:1rem;
    }
  }
}