@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500 &display=swap');

.studentPage__container {
  color: #272c33;
  padding-left: 2rem;
  padding-right: 2rem;
  .student__list {
    table {
      margin: 0;
      font-size: 13px;

      .ant-table-thead > tr > th {
        padding: 0.5rem 0.75rem;
      }
      .darkRow {
        background-color: #f5f5f5;
      }
      thead {
        tr {
          .ant-table-cell {
            font-family: 'Roboto', sans-serif;
            font-size: 0.8125rem;
            letter-spacing: 2px;
          }
        }
      }
      tr {
        td {
          padding: 0 16px;
        }
      }
      tbody {
        td {
          padding: 0.75rem;
        }
      }
    }

    .student__table {
      border: 1px solid #dfe2e6;
      border-radius: 0.5rem;
      box-shadow: 0 3px 3px -2px rgb(39 44 51 / 10%), 0 3px 4px 0 rgb(39 44 51 / 4%),
        0 1px 8px 0 rgb(39 44 51 / 2%);
      background-color: #fff;

      .list__header {
        padding: 0.5rem 0.75rem;
        border-bottom: 2px solid #e9edf2;
      }
    }
    .action {
      position: relative;
      display: flex;
      flex-direction: row;
      &__link {
        &:hover::after {
          position: absolute;
          content: 'view profile';
          background-color: black;
          color: white;
          border-radius: 5px;
          font-size: 10px;
          top: -20px;
          left: -20px;
          padding: 5px 2px;
        }
      }
      &__view-container {
        background-color: #5567ff;
        border-radius: 0.3rem;
        padding: 5px 12px;
        margin-right: 0.3rem;

        svg {
          color: #fff;
        }
      }
      &__delete-container {
        background-color: rgb(212, 78, 92);
        border-radius: 0.3rem;
        padding: 5px 12px;

        svg {
          color: #fff;
        }
      }
      &__viewIcon {
        cursor: pointer;
        color: grey;
      }
      &__deleteIcon {
        color: grey;
        cursor: pointer;
      }
    }
  }
  .ant-pagination-next {
    margin-right: 26px;
  }
}

