.ant-tabs-top > .ant-tabs-nav,
.ant-tabs-bottom > .ant-tabs-nav,
.ant-tabs-top > div > .ant-tabs-nav,
.ant-tabs-bottom > div > .ant-tabs-nav {
  margin: 0;
}
.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab {
  border-radius: 5px 5px 0 0;
}
.student-tab {
  &__container {
    margin: 30px 0;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px 2px #bebdbd;
  }
  &__tabs {
    width: 100%;
    background-color: transparent;
  }
  &__profile {
    background-color: #fff;
    padding: 0;
    border: 1px solid #f0f0f0;
    border-top: 0;
    h4 {
      font-size: 16px;
    }
    > div:first-child {
      padding: 20px;
      display: flex;
      border-bottom: 1px solid #f0f0f0;
      @media only screen and(max-width: 768px) {
        display: block;
        border-bottom: 0;
      }
      div {
        width: 33%;
        height: 100px;
        text-align: left;
        @media only screen and(max-width: 768px) {
          width: 100%;
          border-bottom: 1px solid #f0f0f0;
        }
      }
    }
    > div:last-child {
      padding: 20px;
      display: flex;
      @media only screen and(max-width: 768px) {
        display: block;
      }
      div {
        width: 33%;
        height: 100px;
        text-align: left;
        @media only screen and(max-width: 768px) {
          width: 100%;
          border-bottom: 1px solid #f0f0f0;
        }
      }
    }
  }
  &__classes {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #f0f0f0;
    border-top: 0;
    h3 {
      font-size: 16px;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    @media only screen and(max-width: 768px) {
      flex-wrap: wrap;
    }
  }
  &__table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    font-size: 16px;
    width: 100%;
    margin: 20px auto;
    color: #000;
    border-width: 0;
    padding-left: 20px;
    tbody {
      border: 1px solid #e6e4e4;
      border-radius: 10px;
      tr {
        height: 50px;
        td {
          text-align: left;
          padding: 8px;
          a {
            color: rgba(137, 142, 245);
            text-decoration: underline;

            &:hover {
              color: black;
              opacity: 0.8;
            }
          }
        }
      }
    }
    button {
      border: none;
      background-color: transparent;
      &:hover {
        cursor: pointer;
        color: red;
      }
    }
    tr:nth-child(1) {
      text-align: left;
      background-color: #f8f8f8;
    }
    tr > td:nth-child(1) {
      padding-left: 20px;
    }
    tr > td:nth-child(2) {
      text-align: center;
    }
    tr > td:nth-child(3) {
      text-align: center;
    }
    tbody > tr:nth-child(odd) {
      background-color: #f8f8f8;
    }
  }
  &__className {
    width: 50%;
  }
  &__classId,
  &__action {
    width: 25%;
  }
  &__deleteIconContainer {
    margin: 0 auto;
    width: 40px;
    background-color: rgb(212, 78, 92);
    border-radius: 0.3rem;
    padding: 5px 12px;
    svg {
      color: #fff;
    }
  }
  &__deleteIcon:hover {
    cursor: pointer;
  }
}
