@import '../../../styles/variables.scss';
@import '../../../styles/responsive.scss';

.section__title {
    margin: 80px 0px 40px;
    text-align: center;
    @include MQ(M){
      margin: 80px 20px 40px;
    }
    @include MQ(S){
      margin: 80px 20px 40px;
    }

    h2 {
        color: #384047;
        font-size: 30px;
        font-weight: 600;
        margin: 15px 0;
        @include MQ(M){
          font-size: 2rem;
        }
        @include MQ(S){
          font-size: 1.5rem;
        }
    }

    h4 {
        font-size: 20px;
        line-height: 27px;
        color: #555;
        margin: 10px 0;
        @include MQ(M){
          font-size: 1rem;
        }
        @include MQ(S){
          font-size: 1rem;
        }
    }
}