.menu__Button {
    display: none;
    border:none;
    border-radius: 3px;
    color: #cccccc;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    
}

@media only screen and (max-width: 475px) {
    .menu__Button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}