$btnTransition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

@mixin inputBorder {
  border: 1px solid #edf0f2;
  box-shadow: inset 0 1px 1px rgb(39 44 51 / 8%);
  color: #868e96;
}

.add-page {
  width: 90%;
  margin: auto;
  fieldset {
    padding: 0;
    .ant-input {
      margin-bottom: 0;
    }
  }
  .button-layout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    .cancelBtn {
      padding: 0.5rem 1rem;
      border-radius: 100px;
      text-align: center;
      background-color: transparent;
      color: #868e96;
      font-weight: 600;
      border: 1px solid #868e96;
      transition: $btnTransition;
      &:hover {
        background-color: #868e96;
        border-color: #868e96;
        color: #fff;

        a {
          color: #fff;
        }
      }

      a {
        color: #868e96;
      }
    }
    .saveBtn {
      margin-left: 0.5rem;
      background-color: #5567ff;
      border-color: #5567ff;
      box-shadow: inset 0 1px 0 hsl(0deg 0% 100% / 15%), 0 1px 1px rgb(39 44 51 / 8%);
      border: 1px solid transparent;
      padding: 0.5rem 1rem;
      font-weight: 600;
      border-radius: 100px;
      color: #fff;
      transition: $btnTransition;

      &:hover {
        background-color: #2f45ff;
        border-color: #2239ff;
      }
    }
  }
  &__form {
    margin-bottom: 30px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #dfe2e6;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 3px 3px -2px rgb(39 44 51 / 10%), 0 3px 4px 0 rgb(39 44 51 / 4%),
      0 1px 8px 0 rgb(39 44 51 / 2%);
    &__header {
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      max-width: 100%;
      padding: 1rem;
      border-radius: 0.5rem 0.5rem 0 0;
      border-bottom: 1px solid #dfe2e6;
      strong {
        font-size: 1rem;
        color: #303840;
        line-height: 1.25;
        letter-spacing: 1px;
        font-weight: 600;
      }
      svg {
        cursor: pointer;
        color: #868e96;
        transition: $btnTransition;

        &:hover {
          color: black;
        }
      }
    }
    &__detail{
      padding: 0.5rem 1rem 0;
      display: flex;
      div {
          flex: 0.5;
      }
      label > div{
        color: #303840;
        font-size: 0.8125rem;
        font-weight: 600;
        letter-spacing: 2px;
        text-align: left;
      }
    }
    &__address{
      padding: 1rem;
      > div {
          width: 80%;
      }
      label > div{
        color: #303840;
        font-size: 0.8125rem;
        font-weight: 600;
        letter-spacing: 2px;
        text-align: left;
      }
    }
    &__avatar {
      width: 50%;
    }

    input {
      @include inputBorder();
    }

    select {
      @include inputBorder();
      color: #868e96;

      option {
        color: #868e96;
      }
    }

  }
  .ant-breadcrumb {
    margin-top: 2rem;
    color: #303840;
    line-height: 1.25;
    font-size: 0.8125rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;

    & > span:last-child {
      color: #5567ff;
    }
  }

  @media only screen and(max-width: 768px) {
    .add-page{
      width: 90%;
      margin: auto;
    }
  }

  @media only screen and(max-width: 375px) {
    .add-page {
      width: 90%;
      margin: auto;
    }
  }

  @media only screen and(max-width: 320px) {
    .add-page {
      width: 90%;
      margin: auto;
    }
  }
}
