.iconButton{
  button{
    display:inline-flex;
    background-color: #edf0f2;
    border-radius: 0.25rem;
    border: 1px solid #edf0f2;
    padding: 0.5rem 1rem;
    font-weight: 500;
    line-height:1.5;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    justify-content: center;
    outline:none;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(39 44 51 / 8%);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:hover{
      background:#e6e6e6;
    }
  }
  &__icon{
    display: inline-block;
    margin-right:0.5rem;
    font-size:inherit;
    vertical-align: middle;
    color:#212529;
  }
}