@import './responsive.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

.profile-page {
  width: 100vw;
  margin-left: 0;
  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3rem;
    padding: 0 2rem;
    @media only screen and(max-width: 768px) {
      padding: 0 1rem;
    }
    h2 {
      font-size: 20px;
      .backarrow {
        width: 14px;
      }
    }

    .ant-breadcrumb {
      color: #303840;
      line-height: 1.25;
      font-size: 0.8125rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 10px 0;
      & > span:last-child {
        color: #5567ff;
      }
    }
  }
  &__detail {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #5567ff;
    color: #fff;
    border-radius: 10px;
    .profile__inner {
      margin-left: 3rem;
      position: relative;
      display: flex;
    }
  }
  &__tab {
    width: 100%;
  }
}
