@import "../../../styles/responsive.scss";
@import "../../../styles/variables.scss";

.studentForm{
  h4,h5{
    font-size:1.3rem;
    font-weight:bolder;
    margin-bottom:3px;
  }
  h5{
    font-size:1rem;
    padding-top:1rem;
    padding-bottom:1rem;
    background:#f8f8f8;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
  }
  p{
    &:nth-child(2){
      font-size:1.1rem;
      padding-bottom:0.7rem;
      color:#555;
    }
    &:nth-child(3){
      font-size:0.9rem;
      margin-bottom:0rem;
    }
  }
  .ant-transfer-list-search-action{
    line-height:23px;
  }
  .transfer{
    width:100%;
    margin:3rem auto;
    display: flex;
    justify-content:center;
    @include MQ(S){
      flex-direction: column;
      align-items: center;
      justify-content:center;
    }
    .ant-transfer-list{
      width:80%;
      @include MQ(S){
        width:100%;
      }
    }
    .ant-transfer-operation{
      @include MQ(S){
        flex-direction: row;
        button{
          margin:1rem 0.2rem;
          transform: rotate(90deg);
        }
      }
    }
    
  }
  .ant-modal-content {
    border-radius: 8px;
    left: 95px;
  }
  .ant-modal-header {
    border-radius: 8px;
  }
  .ant-btn {
    color: #ed0b4c;
    border-color: #ed0b4c;
    background: white;
  }
  .ant-btn:hover {
    color: white;
    border-color: #ed0b4c;
    background: #ed0b4c;
  }
  .ant-btn.ant-btn-primary {
    width: 78px;
    color: #ffffff;
    background: #5567ff;
    border-color: #5567ff;
  }
}
.custom-class{
  margin-top:20vh;
}



