.login {
  &Page {
    padding: 0 10px;
  }
  &-form {
    width: 390px;
    margin: 10px auto 30px;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 2px 4px 1px #bfbbbb;
    @media only screen and(max-width: 768px) {
      width: 100%;
    }
    &__alert {
      display: none;
      width: 100%;
      height: 50px;
      border-radius: 3px;
      border: 1px solid #a94442;
      box-sizing: border-box;
      background-color: #f2dede;
      padding: 15px;
      margin: 20px 0;
      color: #a94442;
    }
    h1 {
      font-size: 22px;
    }
    .emailShadow {
      box-shadow: 0 2px 4px 1px #bfbbbb;
    }
    &__email {
      width: 100%;
      font-size: 14px;
      text-align: left;
      margin: 10px 0;
      label {
        width: 100%;
        margin: 10px 0;
        input {
          width: 100%;
          height: 55px;
          background-color: #f5f5f5;
          outline: none;
          border-radius: 3px;
          box-sizing: border-box;
          border: 1px solid black;
          font-weight: 600;
          font-size: 18px;
          padding: 10px;
          margin: 10px 0;
          box-shadow: 0 0 0 0 #fff;
        }
      }
    }
    &__password {
      width: 100%;
      font-size: 14px;
      text-align: left;
      label {
        width: 100%;
        margin: 0;
        input {
          width: 100%;
          height: 55px;
          background-color: #e4f4e4;
          outline: none;
          border-radius: 3px;
          box-sizing: border-box;
          border: 1px solid black;
          font-weight: 600;
          font-size: 18px;
          padding: 10px;
          margin: 10px 0;
        }
      }
    }
    button {
      width: 100%;
      height: 55px;
      margin: 30px 0;
      border: 0 solid #3658ff;
      border-radius: 3px;
      background-color: #3658ff;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
    }
    button:hover {
      background-color: #32aaff;
    }
  }
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #b94a48;
  border-color: #32aaff !important;
}
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #32aaff !important;
}
