
.name {
    &__container {
        display: flex;
        flex-direction: row;
    }
    &__avatar {
        min-width:2rem;
        min-height:2rem;
        border-radius: 50%;
        margin-top: 0.2rem;
    }
    &__description {
        padding-left: 0.6rem;
        
        p {
            margin-bottom: 0rem;
            color: rgba(39,44,51,.5)!important;
        }
        svg {
            margin-right: 0.35rem;
        }
        a {
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.25;
            color: rgba(137, 142, 245);
            text-decoration: underline;
        }
        a:hover {
            color: black;
            opacity: 0.7;
        }
    }
}