@import '../../StudentPage/index.scss';

.lessonTab-StudentList {
  width: 90%;
  overflow: scroll;
  .darkRow {
    background-color: #f5f5f5;
  } 

  border: 1px solid #dfe2e6;
  .student__list {
    table {
      margin: 0;
      font-size: 13px;
      .ant-table-thead > tr > th {
        padding: 0.5rem 0.75rem;
      }
      .darkRow {
        background-color: #f5f5f5;
      }
      thead {
        tr {
          .ant-table-cell {
            font-family: 'Roboto', sans-serif;
            font-size: 0.8125rem;
            letter-spacing: 2px;
          }
        }
      }
      tr {
        td {
          padding: 0 16px;
        }
      }
      tbody {
        td {
          padding: 0.75rem;
        }
      }
    }
  }
  .deleteIcon {
    color: grey;
    cursor: pointer;
  }
  .action {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  .deleteIcon__container {
    background-color: rgb(212, 78, 92);
    border-radius: 0.3rem;
    padding: 5px 12px;

    svg {
      color: #fff;
    }
  }
}
