.class-page {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__btn {
    width: 6.5rem;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
    border-color: #5567ff;
    box-shadow: inset 0 1px 0 hsl(0deg 0% 100% / 15%), 0 1px 1px rgb(39 44 51 / 8%);
    padding: 0.5rem 1rem;
    display: flex;
    border-radius: 0.25rem;
    align-items: center;
    justify-content: center;
    color: #5567ff;
    font-weight: 600;
    font-size: 0.8125rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:hover {
      background-color: #5567ff;
      border-color: #5567ff;
      color: #fff;
    }
  }
}
