.events {
  margin: 0;
  padding: 0;
  list-style: none;
  &__container {
    margin-bottom: 5px;
  }
  &__content {
    list-style: none;
    font-size: 11px;
    border: 1px solid;
    border-color: #d44e5c;
    background-color: #ed5565;
    margin: 0;
    border-radius: 3px;
    color: #fff;
    &:hover {
      box-shadow: 2px 2px 6px rgb(1 1 1 / 40%);
      transition: all 0.5s ease-in-out;
      + .events__show {
        display: block;
        z-index: 2;
        pointer-events: none;
      }
    }
    li {
      padding-left: 5px;

      svg {
        margin-right: 5px;
      }
    }
  }

  &__info {
    position: absolute;
    display: none;
    top: -10px;
    left: 0;
    background-color: #e5e5e5;
    border-radius: 5px;
    z-index: 9999;
    padding: 5px 12px 5px 12px;
    transition: all 0.2s ease 1s;
  }
  &__time {
    font-weight: 600;
  }

  .ant-badge-status {
    width: 100%;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.notes-month {
  font-size: 28px;
  text-align: center;
  section {
    font-size: 28px;
  }
}

.calendar__container {
  margin: 2rem;

  .ant-picker {
    &-calendar-header {
      display: block;
      padding: 0;
    }
    &-calendar {
      box-shadow: 0 3px 3px -2px rgb(39 44 51 / 10%), 0 3px 4px 0 rgb(39 44 51 / 4%),
        0 1px 8px 0 rgb(39 44 51 / 2%);
  
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid #dfe2e6;
      border-radius: 0.5rem;
      padding: 2rem;
    }
  }

  .ant-picker-calendar-full .ant-picker-panel .ant-picker-body th {
    height: 100%;
    padding: 5px 12px 5px 0;
  }

  .ant-picker-calendar .ant-picker-panel .ant-picker-content {
    width: 100%;
  }

  .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date {
    margin: 0;
  }

  .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date {
    border: none;
  }

  .ant-picker-content th,
  .ant-picker-content td {
    border: 1px solid #bbb;
  }

  .ant-divider-horizontal {
    margin: 3px 0;
  }

  .ant-picker-calendar {
    margin-top: 20px;
  }
  .ant-picker-cell {
    position: relative;
  }

  table {
    margin: 0;
    thead {
      border-left: 1px solid #bbb;
      border-right: 1px solid #bbb;
      border-top: 1px solid #bbb;

      th {
        padding: 0;
        text-align: center;
      }
    }
    tbody {
      tr {
        height: 28px;
      }
      td {
        top: 0;
        z-index: 0;
      }
    }
  }
}

.page__footer {
  margin-left: 256px;
}
