
.name {
    &__container {
        display: flex;
        flex-direction: row;
    }
    &__avatar {
        width:2rem;
        height:2rem;
        border-radius: 50%;
        margin-top: 0.2rem;
    }
    &__description {
        padding-left: 0.6rem;
        p {
            margin-bottom: 0rem;
        }
    }
}