@import '../../styles/responsive.scss';
@import '../../styles/variables.scss';

.schoolForm{
  width:100%;
  > form {
    margin-top:3rem;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    > p{
      display: block;
      position: relative;
      font-size:1.2rem;
      color:#444444;
      text-align: start;
      &:after{
        position:absolute;
        content:'*';
        color:red;
      }
    }
    .ant-select{
      margin-bottom:3rem;
      .ant-select-selector{
        height:3rem;
        padding:0.4rem;
        background-color:#FFFDE3;
        border-radius:4px;
        border: 1px solid #d9d9d9;
        &:hover{
          border: 1px solid #d9d9d9;
        }
        .ant-select-selection-search-input{
          height:100%;
          font-size:1rem;
          font-weight:600;
          box-shadow:none;
        }
      }
      display:block;
      width:100%;
      @include MQ(L){
        width:60%;
      }
      @include MQ(XL){
        width:60%;
      }
    }


    >input{
      display:block;
      width:100%;
      height:3rem;
      padding:0.4rem;
      margin-bottom:3rem;
      background-color:#FFFDE3;
      font-size:1rem;
      font-weight:600;
      border: 1px solid #d9d9d9;
      &.disabled{
        background-color:rgb(236, 233, 233);
      }
      @include MQ(L){
        width:60%;
      }
      @include MQ(XL){
        width:60%;
      }
    }
    > small{
      display:none;
      color:green;
      font-size:1rem;
      font-weight:600;
      &.show{
        display:block;
        color:red;
      }
    }
    >button{
      margin-top:5rem;
      width:200px;
      color:#FFFFFF;
      background-color:#006DCC;
      padding:1rem;
      font-size:1.2rem;
      font-weight:700;
      box-shadow:none;
      outline:none;
      border-radius:1rem;
      min-width:16rem;
      @include MQ(M){
        min-width:10rem;
      }
      @include MQ(S){
        min-width:10rem;
      }
      &:hover{
        background-color:#2964c7
      }
    }
  }
}