.home {
    background-color: #fff;

    .home__footer {
        background-color: #33334f;
        
    }
    .section__container {
      width:100%;
      margin-left: auto;
      margin-right: auto;
  }
}
