@import '../../../styles/variables.scss';
@import '../../../styles/responsive.scss';

.banner {
  display: flex;
  margin: 62px 0 40px;
  text-align: center;
  background-color: #fff;
  align-items: center;
  justify-content: space-around;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include MQ(M) {
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @include MQ(S) {
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  &__left {
    h1 {
      font-size: 40px;
      color: #384047;
      font-weight: 600;
      margin: 25px 0;
      @include MQ(M) {
        font-size: 2rem;
      }
      @include MQ(S) {
        font-size: 1.5rem;
      }
    }
  }
  &__content {
    margin: 30px 20px 0px;

    h4 {
      font-size: 20px;
      line-height: 27px;
      color: #555;
      margin: 10px 0;
      @include MQ(M) {
        font-size: 1rem;
      }
      @include MQ(S) {
        font-size: 1rem;
      }
    }
  }

  &__right {
    img {
      max-height: 555px;
      width: 100%;
    }
  }

  &__button {
    margin-top: 50px;
    text-align: center;
    a {
      display: inline-block;
      color: #fff;
      background-color: #3658ff;
      font-size: 24px;
      font-weight: 600;
      padding: 15px 28px;
      border-radius: 3px;
      cursor: pointer;
      @include MQ(M) {
        font-size: 1rem;
        padding: 10px 20px;
      }
      @include MQ(S) {
        font-size: 1rem;
        padding: 10px 20px;
      }
      &:hover {
        background-color: #32aaff !important;
      }
    }
  }
}
