@import '../../styles/responsive.scss';
@import '../../styles/variables.scss';

.header {
  &__wrapper {
    width: 100%;
    border-bottom: 2px solid #e9edf2 !important;
  }
  &__inner {
    position: relative;
    background-color: #fff;
    padding: 0.5rem 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .show {
      display: block;
    }
    > ul {
      display: none;
      list-style-type: none;
      align-items: center;
      width: 100%;
      margin-left: 0;
      margin-top: 1rem;
      @include MQ(L) {
        display: none;
      }
      @include MQ(XL) {
        display: none;
      }
      > li {
        padding: 0.5rem 0;
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: capitalize;
        a {
          color: #8a9199;
          &:hover {
            color: #5567ff;
          }
        }
        .active {
          color: #5567ff;
        }
        span {
          display: inline-block;
          text-align: start;
          padding-right: 0.5rem;
          &:first-child {
            width: 1.5rem;
          }
          &:last-child {
            margin-left: 1rem;
          }
        }
      }
      @include MQ(L) {
        display: none;
      }
      @include MQ(XL) {
        display: none;
      }
    }
  }
  &__icon {
    font-size: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
  }
  &__menu {
    display: flex;
    align-items: center;
    @include MQ(L) {
      display: none;
    }
    @include MQ(XL) {
      display: none;
    }
  }
  &__avatar {
    margin-right: 1rem;
    width: 3rem;
    background-color: #5567ff !important;
    border-radius: 0.25rem !important;
    img {
      width: 100%;
      border-style: none;
      padding: 0.25rem;
      vertical-align: middle;
    }
  }
}
