@import '../../../styles/variables.scss';
@import '../../../styles/responsive.scss';


.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  padding: 5px;
  background-color: #fff;
  min-height: 50px;
  z-index: 1;
  border-bottom: 1px solid #eee;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 12px -5px rgb(33 33 33 / 46%);

  &__left {
    display: flex;
    align-items: center;
    .logo {
      width: 40px;
      height: 40px;
      margin: 0;
    }
    h4 {
      color: #333;
      margin-bottom: 0;
      margin-left:0.5rem;
      @include MQ(M) {
        display: none;
      }
      @include MQ(S) {
        display: none;
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    height: 3rem;
    width: 6rem;
  }

  &__buttons {
    display: flex;
  }

  &__loginButton {
    a {
      text-decoration: none;
      text-align: center;
      color: #333;
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 7px 15px 7px;
      border-radius: 3px;
      font-weight: bold;
      margin-right: 8px;
      @include MQ(M) {
        font-size: 0.8rem;
      }
      @include MQ(S) {
        font-size: 0.8rem;
      }

      &:hover {
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  &__tryButton {
    a {
      background-color: #3658ff;
      padding: 8.25px 15px 8.25px;
      color: #fff;
      border-radius: 3px;
      @include MQ(M){
        font-size:0.8rem;
      }
      @include MQ(S){
        font-size:0.8rem;
      }
      &:hover {
        background-color: #32aaff !important;
      }
    }
  }

  .home__userInfo {
    color: White;
    background-color: #3658ff;
    border: none;
    padding: 5px 12px;
  }
}
