.user{
  position: relative;
  border-radius: 3px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  &__header {
    padding: 15px;
    color: #656565;
    font-weight: 600;
    border-bottom: 1px solid #e2e2e2;
    border-radius: 6px 6px 0 0;
  }
  &__name {
    color: #656565;
    font-weight: 600;
    text-shadow: 0 1px 0 #fff;
    font-size: 20px;
  }
  &__logout {
    line-height: 25px;
    margin-top: 0.5rem;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    a {
      padding: 7px 15px;
      color: #333333;
    }
    &:hover {
      width: 100%;
      background-color: #5567ff;
      color: white;
      a {
        color: white;
      }
    }
  }
  &__avatar {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    font-size: 1rem;

    span {
      color: white;
      width: 100%;
      height: 100%;
      background-color: #5567ff!important;
      border-radius: 50% !important;
      font-size: 0.8125rem;
      font-weight: bold;
      display: flex;
   
      align-items: center;
      justify-content: center;
    }
  }
  a {
    text-decoration: none;
  }
  ul {
    display: none;
    z-index: 1000;
  }
  .show {
    box-shadow: 0 0.5rem 1rem rgb(39 44 51 / 18%);
    font-size: 11px;
    display: block;
    position: absolute;
    top: 147%;
    min-width: 150px;
    color: black;
    background-color: #ffffff;
    border: 1px solid transparent;
    right: 0;
    border-radius: .1875rem;
    padding: 0;
    list-style: none;
    &::before {
      position: absolute;
      top: -7px;
      right: 7px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      content: '';
    }
    &::after {
      position: absolute;
      top: -6px;
      right: 7px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #ffffff;
      border-left: 6px solid transparent;
      content: '';
    }
    p {
      margin-bottom: 0;
    }
  }
}
