@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&family=Exo+2:ital@1&family=Roboto&family=Zen+Dots&display=swap');
@import '../../styles/responsive.scss';
@import '../../styles/variables.scss';

.sideBar {
  &__container {
    display: flex;
    min-width: 16rem;
    padding-top: 3rem;
    background-color: #303956;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px solid #ccc;
    @include MQ(M) {
      display: none;
    }
    @include MQ(S) {
      display: none;
    }
    > ul {
      list-style: none;
      width: 100%;
      padding: 2rem 0;
      margin: 0;
      li {
        color: #9d9e9e;
        padding: 0.5rem;
        max-width: 100%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
      }
    }
    a {
      color: #8a9199;
      &:hover {
        color: white;
      }
    }
  }
  &__brand {
    color: #fff;
    padding: 2.5rem 0;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 1.625rem;
  }
  &__avatarContainer {
    width: 5.125rem;
    background-color: #5567ff !important;
    border-radius: 0.25rem !important;
    margin-bottom: 0.5rem;
  }
  &__avatar {
    width: 3rem;
    height: 3rem;
    img {
      width: 100%;
      border-style: none;
      padding: 0.25rem;
      vertical-align: middle;
    }
  }
  &__heading {
    color: #8a9199;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  &__button {
    color: rgba(172, 182, 191, 0.5);
    display: flex;
    align-items: center;
    font-weight: bold;
    line-height: 40px;
    font-size: 15px;
    padding: 0 1.5rem;
  }
  &__title {
    font-weight: bold;
    font-size: 15px;
  }
  &__icon {
    margin-right: 0.5rem;
    vertical-align: middle;
    font-size: 24px;
    display: inline-block;
    line-height: normal;
    position: relative;
    width: 30px;
  }
}
