@import '../../styles/responsive.scss';
@import '../../styles/variables.scss';

.layout{
  display:flex;
  .dashboard{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-between;
  }
}

.Dashboard__container {
    h2 {
        font-size: 1.999rem;
        letter-spacing: 1px;
    }
}




.dashboard__container {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}