.footer {
  border-top: 2px solid #e9edf2;
  background-color: #fff;
  margin-top: 3rem;
  &__logo {
    margin-bottom: 1.5rem;
    font-size: 1.625rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    line-height: 1.231;
    color: rgba(39, 44, 51, 0.7);
    img {
      margin-right: 0.5rem;
      width: 30px;
    }
  }
  &__description {
    margin-top: 0;
    margin-bottom: 1rem;
    color: rgba(39, 44, 51, 0.5);
    text-align: justify;
  }
  &__container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    span {
      color: #1890ff;
      font-size: 14px;
      cursor: pointer;
    }
  }
}
