.countBar .countBar {
  &__separator {
    margin-top: 0;
  }
  &__container {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  &__icon {
    color: #858585;
    width: 2rem;
    height: 2rem;
  }
  &__divider {
    margin-left: 2px;
    margin-right: 2px;
  }
  &__filteredResults {
    font-size: 20px;
    font-weight: 600;
  }
  &__totalResults {
    color: #858585;
  }
  &__classes {
    margin-left: 5px;
    font-size: 20px;
    color: #858585;
  }
  p {
    margin-left: 20px;
  }
}
