@import '../../styles/responsive.scss';
@import '../../styles/variables.scss';

.registerForm{
  width:70%;
  margin:0 auto;
  padding:1.5rem;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 3px 10px #929191;
  display:flex;
  align-items:center;
  justify-content:space-between;
  @include MQ(L){
    width:90%;
  }
  @include MQ(M){
    width:95%;
    flex-direction: column;
  }
  @include MQ(S){
    width:95%;
    flex-direction: column;
  }
  section {
    &:first-child{
      display:flex;
      flex-direction:column;
      width:50%;
      @include MQ(M){
        width:95%;
      }
      @include MQ(S){
        width:95%;
      }
      > h1{
        text-align: center;
        width:100%;
        span{
          &:first-child{
            text-transform:capitalize;
          }
          &:last-child{
            text-transform:uppercase;
          }
        }
      }
      > p{
        color:#828789;
        font-size:0.9rem;
        font-weight:600;
        @include MQ(M){
          font-size:0.7rem;
        }
        @include MQ(S){
          font-size:0.7rem;
        }
        &:last-child{
          margin-top:3rem;
          margin-bottom: 3rem;
          font-size:1rem;
          text-align:center;
          @include MQ(M){
            font-size:0.8rem;
          }
          @include MQ(S){
            font-size:0.8rem;
          }
          span{
            color:#5173BD;
            &:hover{
              border-bottom:1px solid blue;
            }
          }
        }
      }
      small{
        color:#C73F3D;
        font-weight:600;
        font-size:0.9rem;
        @include MQ(M){
          font-size:0.7rem;
        }
        @include MQ(S){
          font-size:0.7rem;
        }
        display:none;
        &:last-of-type{
          margin-bottom:1rem;
        }
        &.small-invalid{
          display:block;
        }
      }
      > form{
        width:100%;
        display:flex;
        flex-direction:column;
        p {
          margin-bottom:5px;
          font-size:1.1rem;
          font-weight:700;
          color:#777777;
          @include MQ(M){
            font-size:0.9rem;
          }
          @include MQ(S){
            font-size:0.9rem;
          }
        }
        > div {
          &:nth-child(5){
            display:none;
          }
          &.show{
            display:block;
          }
          &:first-child{
             margin-bottom:1rem;
          }
          &:nth-child(2) {
            display:flex;
            justify-content:space-between;
            align-items: center;
            @include MQ(M){
              flex-direction:column;
              align-items: flex-start;
            }
            @include MQ(S){
              flex-direction:column;
              align-items: flex-start;
            }
            p:last-child{
              font-size:0.9rem;
              font-weight:500;
              color:#94A3A8;
              @include MQ(M){
                font-size:0.7rem;
              }
              @include MQ(S){
                font-size:0.7rem;
              }
            }
          }
          >ul:last-child{        
            list-style-type: none;
            margin:0;
            padding-top:0;
            padding-bottom:0;
            li{
              color:#C73F3D;
              margin-top:1rem;
              font-size:1rem;
              font-weight:600;
              @include MQ(M){
                font-size:0.8rem;
              }
              @include MQ(S){
                font-size:0.8rem;
              }
              span:last-child{
                display:inline-block;
                margin-left:1rem;
              }
              &.li-validation{
                color:green;
              }
            }

          }
        }
        span{
          text-transform:capitalize;
        }
        input{
          width:100%;
          height:3.5rem;
          padding:10px 1rem;
          background-color:#f5f5f5;
          font-size:1.2rem;
          font-weight:700;
          @include MQ(M){
            font-size:1rem;
          }
          @include MQ(S){
            font-size:1rem;
          }
            &.input-valid-shadow{
              color:green;
              background:#E4F4E4;
              border-color:#3c763d;
              box-shadow: 0 0 6px #3c763d;
            }
            &.input-valid{
              color:green;
              background:#E4F4E4;
              border-color:#3c763d;
            }
            &.input-invalid-shadow{
              background:#FAE7E7;
              border-color:#a94442;
              box-shadow:0 0 6px #a94442;
            }
            &.input-invalid{
              background:#FAE7E7;
              border-color:#a94442;
            }
          // }
        }
        button{
          border: 1px solid #e1e1e1;
          width:100%;
          height:3.5rem;
          font-size:1.2rem;
          font-weight:700;
          color:white;
          border-radius:0.5rem;
          background:#3558FF;
          outline:none;
          margin-top:1.5rem;
          margin-bottom:1.5rem;
          @include MQ(M){
            font-size:1rem;
          }
          @include MQ(S){
            font-size:1rem;
          }
          &:hover{
            background:#32aaff;
          }
        }
      }
    }
    &:last-child{
      width:43%;
      @include MQ(M){
        width:95%;
      }
      @include MQ(S){
        width:95%;
      }
      > ul{
        list-style-type: disc;
        color:#757575;
        font-size:1rem;
        font-weight:600;
        margin:1rem;
        padding:1rem;
        @include MQ(M){
          font-size:0.8rem;
        }
        @include MQ(S){
          font-size:0.8rem;
        }
        li{          
          color:#828789;
          margin-bottom:6px;
        }
      }
    }
  }
}