.avatar{
    width: 100%; 
    &__label{
        color: #303840;
        font-size: 0.8125rem;
        font-weight: 600;
        letter-spacing: 2px;
        margin-bottom: -10px;
    }

    &__content {
        display: flex;
    }
    &__input, &__upload{
        text-align: center;
        justify-content: center;
        background-color: white;
        border: 1px solid #edf0f2;
        background-color: #868e96;
        color: #fff;
    }
    &__input{
        height: 1.9rem;
        border-radius: 4px 0 0 4px;  
        width: 76%;
        &[readonly]{
            background-color: white;
        }
    }
    &__upload {
        display: inline-block;
        width: 24%;
        line-height: 1.8rem;
        height: 1.95rem;
        border-left: none;
        border-radius: 0 4px 4px 0;
        padding-left: 0.1rem;
        font-size: 10px;
        cursor: pointer;
    }
}
input[type="file"] {
    display: none;
}
@media only screen and (max-width: 768px){
    .avatar {
        &__upload {
            line-height: 1.8rem;
            height: 1.9rem;
        }
    }
}
