.name {
    &__container {
        display: flex;
        flex-direction: row;
    }
    &__avatar {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
    }
    &__description {
        padding-left: 0.6rem;
        p {
            margin-bottom: 0;
        }
    }
}
