.feature {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 1px;
    &__test-block {
      text-align: center;
      width: 100%;
      border: 1px solid #e0e0e0;
      padding: 20px;
      border-radius: 5px;
      font-size: 14px;
      background-color: #fff;
      margin-bottom: 30px;
      transition: transform 0.5s, box-shadow 0.5s;
      box-shadow: 0 1px 2px rgb(0 0 0 / 15%);
      &:hover {
          transform: scale(1.03);
          box-shadow: 0 5px 15px rgb(0 0 0 / 80%);
      }
  }
}
