@import '../../styles/responsive.scss';
@import '../../styles/variables.scss';

.classTab {
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px 2px #bebdbd;
  margin: 30px 0;
  padding: 20px;
  &__lesson{
    padding-bottom: 2rem;
    .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active {
      border-bottom-color: #fff;
    }
    .ant-tabs-nav {
      margin-bottom: 0;
    }
  }
  &__list{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 5rem;
    border: 1px solid #f0f0f0;
    border-top: 0;
    > div:first-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      padding-bottom: 1rem;
      h2 {
        font-size: 2.5rem;
        margin-bottom: 0;
      }
      @include MQ(M) {
        flex-direction: column;
        align-items: flex-start;
      }
      @include MQ(S) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
