/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */


body {
    background-color: #f5f7fa;
}

@media only screen and (max-width: 767px) {
    body {
        padding: 0;
    }    
}



