.modal {
  font-family: 'Noto Sans', sans-serif;
  left: 60px;
  h1 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
  }
  p {
    font-size: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
  &__selector {
    width: 100%;
    border-radius: 10px;
    span {
      &:first-child {
        font-size: 1rem;
      }
    }
  }
  &__class {
    display: block;
    width: 60%;
    margin-top: 0.5rem;
  }
  &__note {
    color: #888;
  }
  .ant-modal-content {
    border-radius: 8px;
  }
  .ant-modal-header {
    border-radius: 8px;
  }
  .ant-btn {
    color: #ed0b4c;
    border-color: #ed0b4c;
    background: white;
  }
  .ant-btn:hover {
    color: white;
    border-color: #ed0b4c;
    background: #ed0b4c;
  }
  .ant-btn.ant-btn-primary {
    width: 78px;
    color: #ffffff;
    background: #5567ff;
    border-color: #5567ff;
  }
}
