
.class__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .ant-breadcrumb {
        color: #303840;
        line-height: 1.25;
        font-size: .8125rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 1rem;
    
        & > span:last-child {
            color: #5567ff;
        }
      }
    
}