@import '../../../styles/responsive.scss';
@import '../../../styles/variables.scss';

.classDetail__list {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  padding:2rem;

  margin-bottom: 2rem;
  background-color: #5567ff;
  line-height: 1.5;
  border-radius:1rem;
  vertical-align: middle;
  @include MQ(M){
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
  }
  @include MQ(S){
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
  }
  h2 {
    color: #fff;
    line-height: 1.5;
    font-size: 3rem;
    font-weight: 600;
    margin:0;
}
    ul{
        margin:0;
        margin-left:2rem;
        list-style: none;
        font-size: 1rem;
        color: hsla(0,0%,100%,.5);
        @include MQ(M){
          margin-left:0;
        }
        @include MQ(S){
          margin-left:0;
        }
        li{
            padding-top: 12px;
            padding-bottom: 12px;
            svg{
                margin-right: 5px;
            }
            span {
                font-weight: bold;
                margin-left: 10px;
            }
        }
    }
}