.class__list {
  table {
    margin: 0;
    font-size: 13px;
    .class__title {
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.25;
      color: rgba(137, 142, 245);
      text-decoration: underline;
    }
    .class__title:hover {
      color: black;
      opacity: 0.7;
    }

    .darkRow {
      background-color: #f5f5f5;
    }
    thead {
      tr {
        .ant-table-cell {
          font-family: 'Roboto', sans-serif;
          font-size: 0.8125rem;
          letter-spacing: 2px;
        }
      }
    }
    tr {
      td {
        padding: 0 16px;
      }
    }
    tbody {
      td {
        padding: 0.75rem;
      }
    }
  }

  .class__table {
    border: 1px solid #dfe2e6;
    border-radius: 0.5rem;
    box-shadow: 0 3px 3px -2px rgb(39 44 51 / 10%), 0 3px 4px 0 rgb(39 44 51 / 4%),
      0 1px 8px 0 rgb(39 44 51 / 2%);
    background-color: #fff;
    .list {
      &__header {
        padding: 0.5rem 0.75rem;
        border-bottom: 2px solid #e9edf2;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &__selector {
        display: flex;
      }
      &__teacherBar {
        margin-right: 0.3rem;
      }
      &__refreshBtn {
        position: relative;
        margin-left: 5px;
        border: 1px solid transparent;
        line-height: 23px;
        text-align: center;
        vertical-align: middle;
        font-size: 12px;
        padding: 0.25rem 0.7rem;
        background-color: #868e96;
        color: #fff;
        border-color: #868e96;
        border-radius: 0.25rem;
        box-shadow: inset 0 1px 0 hsl(0deg 0% 100% / 15%), 0 1px 1px rgb(39 44 51 / 8%);
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &:hover {
          background-color: #727b84;
          border-color: #6c757d;
        }
      }
      .ant-form {
        flex: 0.8;
      }
    }
    .action {
      position: relative;
      display: flex;
      flex-direction: row;
      &__viewProfile {
        &:hover::after {
          position: absolute;
          content: 'view profile';
          background-color: black;
          color: white;
          border-radius: 5px;
          font-size: 10px;
          top: -20px;
          left: -20px;
          padding: 5px 2px;
        }
      }
      &__viewIcon-container {
        background-color: #5567ff;
        border-radius: 0.3rem;
        padding: 5px 12px;
        margin-right: 0.3rem;
  
        svg {
          color: #fff;
        }
      }
      &__deleteIcon-container {
        background-color: rgb(212, 78, 92);
        border-radius: 0.3rem;
        padding: 5px 12px;
  
        svg {
          color: #fff;
        }
      }
      &__deleteIcon, &__viewIcon {
        color: grey;
        cursor: pointer;
      }
    }
  }
}

