@import '../../../styles/responsive.scss';
@import '../../../styles/variables.scss';

.logo {
  &__container {
    display: flex;
    height: auto;
    align-items: center;
    width: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  &__header {
    display: flex;
    align-items: center;
    margin-right: 1rem !important;
    @include MQ(M) {
      display: none;
    }
    @include MQ(S) {
      display: none;
    }
    &--flex {
      display: flex;
      flex-direction: column;
      flex: 1 1 0% !important;
      strong {
        color: #272c33;
        font-weight: bold;
      }
      span {
        color: rgba(39, 44, 51, 0.5);
      }
    }
  }
  &__icon {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    background-color: #edf0f2;
    border: 1px solid #edf0f2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #303840;
    border-radius: 0.25rem !important;
    margin-right: 0.75rem !important;
    svg {
      font-size: 20px;
    }
  }
}
